.task{
    width: 520px;
    height: 400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 150px);
    font-family: 'Times New Roman', Times, serif;
      width: fit-content;
      height: fit-content;
      border: 1px;
      border-color: black;
      border-style: solid;
      padding: 20px;
  }

  header {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 20px;
}

html body {
  background-color: rgb(209, 209, 209);
  color: rgb(31, 31, 31);
  font-family: 'Times New Roman', Times, serif;
}

header {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  top: -3px;
}

.copyright {
  color:darkgray;
  font-family: 'Times New Roman', Times, serif;
}

footer .links > a {
  color: grey;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;}

  footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}